body{
    margin: 0;
}



.top{
    background-color: #1F2937;
    color: #F9FAF8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 500px;
}

.top-content{
    margin-left: 200px;
    margin-right: 200px;
}



/* header */

.header {
    display: flex;
    justify-content: space-between;
}

.header-links{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}


.header-logo{
    flex: 1;
    font-size: 24px;
    align-self: center;
    color: #F9FAF8;
}




.hero{
    display: flex;
    margin-top: 100px;
    /* justify-content: center; */

}

.hero-text{
    flex: 1;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

#hero-main-text{
    font-size: 48px;
    font-weight: 900;
    /* border: 2px solid red; */
    flex: 1;
}

#hero-sub-text{
    font-size: 18px;
    color: #E5E7EB;
    /* border: 2px solid red; */
    flex: 1;
    margin-top: 10px;
}

.hero-image{
    /* width: 100px;
    height: 250px;  */
    /* border: 2px solid red; */
    flex: 1;
   
}





/* Information Section */

.info{
    margin-left: 250px;
    margin-right: 250px;
}

#info-head{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}


.info-images{
    display: flex;
    justify-content: space-around;
}

.info-img{
    border: 5px solid #3882F6;
    border-radius: 20px;
    /* flex: 1; */
}



.info-img-subtext{
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-subtext{
    width: 200px;
    text-align: center;
}



/* Qoute Section */


.qoute-section{
    background-color: #E5E7EB;

}

.qoute {
    color: #1F2937;
    font-weight: 300;
    font-size: 36px;
    padding-top: 100px;
    
    margin-left: 200px;
    margin-right: 200px;
    /* border: 2px solid red */

}

.qoute-credit{
    text-align: right;
    margin-right: 200px;
    font-weight: 900;
    padding-bottom: 100px;
}




/* Call to action button section */

.call-to-action-blue{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 220px;
    margin-right: 220px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #E5E7EB;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* .call-to-action-blue-text{
    /* display: flex;
    flex-direction: column; */


.call-to-action-text-main{
    font-weight: 600;
    font-size: 25px;
    padding: 0;
    margin: 0;
}

.call-to-action-subtext{
    margin: 0;

}

.call-to-action-signup{
    background-color: #3882F6;
    color: #E5E7EB;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    border: 2px solid #E5E7EB;
    font-size: 20px;

   
}

.footer{
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 25px;
    text-align: center;
    font-family: roboto;
    font-size: 20px;