.top{
    background-color: #1F2937;
    color: #F9FAF8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 500px;
}

.top-content{
    margin-left: 200px;
    margin-right: 200px;
}



/* header */

.header {
    display: flex;
    justify-content: space-between;
}

.header-links{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}


.header-logo{
    flex: 1;
    font-size: 24px;
    align-self: center;
    color: #F9FAF8;
}




.hero{
    display: flex;
    margin-top: 100px;
    /* justify-content: center; */

}

.hero-text{
    flex: 1;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

#hero-main-text{
    font-size: 48px;
    font-weight: 900;
    /* border: 2px solid red; */
    flex: 1;
}

#hero-sub-text{
    font-size: 18px;
    color: #E5E7EB;
    /* border: 2px solid red; */
    flex: 1;
    margin-top: 10px;
}

.hero-image{
    /* width: 100px;
    height: 250px;  */
    /* border: 2px solid red; */
    flex: 1;
   
}

.hero-img{
    width: 100px;
    height: 1px;
}